nav, .Contenedor, footer, article,.principal, header, aside
{
    display: inline-block;
    width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
}

nav{
    background-color: rgb(207, 241, 11);
}
.Contenedor{
    background-color: rgb(72, 243, 4);
}
footer{
    background-color: rgb(201, 165, 66);
    text-align: left;
}
article{
    background-color: burlywood;
}
header{
    background-color: chocolate;
    
}
.principal{
    background-color: cyan;
   
}
aside{
    background-color: darkmagenta;   
}